# A template for this file that also includes other options can be found in jellyfin docs
services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    network_mode: 'host'
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ./config:/config
      - ./cache:/cache
      - ./webconfig/:/webconfig  
      - type: bind
        source: ./media/ #symlink to media folder
        target: /media
    restart: 'unless-stopped'



      
    
