services:
  adguard:
    image: adguard/adguardhome
    container_name: adguardhome
    restart: unless-stopped
    network_mode: host
    volumes:
      - workdir:/opt/adguardhome/work
      - confdir:/opt/adguardhome/conf
    ports:
      - 53:53/tcp
      - 53:53/udp
volumes:
  workdir:
    driver: local
  confdir:
    driver: local

